<%= image_tag @portfolio.main_image if !@portfolio.main_image.nil? %>

<h1> <%= @portfolio.title %> </h1>
<h3> <%= @portfolio.subtitle %> </h3>
<p> <%= @portfolio.body %> </p>

<ul>
    <% @portfolio.technologies.each do |t| %>
        <li>
            <%= t.name %>
        </li>
    <% end %>
</ul>
